.test-image-small {
  position: absolute;
  left: 5%;
  top: 80px;
  height: 630px;
  width: auto;
}

.test-image-full {
  position: fixed;
  left: 0;
  top: 0;
  height: 862px;
  width: auto;
  overflow-y: hidden;
}
