.profilepic {
  background-color: rgba(0, 58, 247, 0.568);
  background: fill;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  vertical-align: center;
}

.circle {
  position: absolute;
  left: 15px;
  margin-top: 15px;
  height: 50px;
  width: 50px;
  background-color: rgba(47, 137, 252, 1);
  border-radius: 25px;
  text-align: center;
}

.circle-text {
  position: absolute;
  top: 13px;
  left: 12px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
