.profileComp {
    text-align: center;
    top: 200px;
    overflow: auto; 
    height: 150px;
    margin-top: 190px;
    display: flex;
}



.rectangle {
    height: 125px;
    width: 80px;
    background-color: rgba(85, 85, 85, 0.5);
    text-align: center;
    margin-left: 60px;
    margin-top: 50px;
    padding: 48px;
    display: flex;
  }
